:root {
    --main-color: #0b0b0c;
    --accent-color: #f0c492;
    --footer-color: #333;
}

body {
    font-family: Arial, sans-serif;
    color: var(--main-color);
    background-color: var(--accent-color);
}

nav ul li a:hover {
    background-color: rgba(121, 173, 237, 0.3);
    color: var(--main-color);
}

footer {
    background-color: var(--footer-color);
}
